# Default for Linux
build --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'
# Cannot use Who-missing-requires because Windows doesnot overide MVSVC toolchain
#build --cxxopt=-Wno-missing-requires


common --enable_bzlmod

# Windows-specific config (activated via --config=windows)
build:windows --compiler=clang-cl
build:windows --cxxopt /std:c++17
build:windows --host_cxxopt /std:c++17
build:windows --define protobuf_allow_mvcs=true
build:windows --action_env=BAZEL_LLVM="C:/Program Files/LLVM"
